{% extends 'base.html.twig' %}

{% block title %}Main{% endblock %}


{% block body %}
<a href="{{ path('list') }}">Wróć do strony głównej</a>
<br>
<a href="{{ path('main') }}">Dodaj</a>

<h2>Lista</h2>

<ul class="list-group">

    {% for main in main %}
        <li class="list-group-item">
            {{ main.dziedzinaOne }}
            <a href="{{ path('main_update', {'id': main.id}) }}">Zmień</a>
        </li>

    {% endfor %}
</ul>

{% endblock %}
