{% extends 'base.html.twig' %}

    {% block title %}Onas{% endblock %}


{% block body %}
    <a href="{{ path('list') }}">Wróć do strony głównej</a>
    <a href="{{ path('onas') }}">Dodaj</a>

    <h2>Lista "onas"</h2>
    <ul class="list-group">
        {% for onas in onas %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ onas.tytul }}
                <a href="{{ path('onas_update', {'id': onas.id}) }}">Zmień</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}

