<html>
<head>

</head>

<body>
    <h1>Dodaj do sekcji "Main"</h1>
        <form method="post" action="{{ path('Main') }}">
            <br><label for="dziedzina_one">Dziedzine 1</label>
            <br><input name="dziedzina_one" type="text" required>

            <br><label for="dziedzina_two">Dziedzina 2</label>
            <br><input name="dziedzina_two" type="text" required>

            <br><label for="wojewodztwo">Województwo</label>
            <br><input name="wojewodztwo" type="text" required>

            <br><label for="logo">Logo</label>
            <br><input name="logo" type="file" required>

            <br><label for="tlo">Tło</label>
            <br><input name="tlo" type="file" required>

            <br><button type="submit">Dodaj</button>
            <br><button type="button" ><a href="{{ path('list') }}"> Wróć</a></button>


        </form>

</body>
</html>
