<html>
<head>
    <title>O nas</title>
</head>

<body>
<h1>Dodaj do sekcji "O nas"</h1>
    <form method="post" action="{{ path('onas') }}">
        <br><label for="tytul">Tytuł</label>
        <br><input name="tytul" type="text" required>

        <br><label for="opis">Opis</label>
        <br><textarea name="opis" required></textarea>

        <br><button type="submit">Dodaj</button>
        <br><button type="button" ><a href="{{ path('list') }}"> Wróć</a></button>

    </form>

</body>
</html>
